In [3]:
import numpy as np
import pandas as pd

In [5]:
# Exercise 1
# 1

df = pd.DataFrame({
'CustomerID': np.arange(1, 11),
'FirstName': ['John', 'Steve', 'Anna', 'Mike', 'Emily', 'Jake', 'Laura', 'Nick', 'Olivia',
'David'],
'LastName': ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller',
'Wilson', 'Moore', 'Taylor'],
'Age': np.random.randint(25, 65, size=10),
'TotalPurchaseAmount': np.random.randint(100, 1000, size=10)
})
print(df)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount
0           1      John     Smith   45                  403
1           2     Steve   Johnson   28                  496
2           3      Anna  Williams   53                  234
3           4      Mike     Jones   44                  203
4           5     Emily     Brown   58                  399
5           6      Jake     Davis   59                  251
6           7     Laura    Miller   41                  763
7           8      Nick    Wilson   48                  965
8           9    Olivia     Moore   40                  133
9          10     David    Taylor   61                  308

In [7]:
# 2
df['classification'] = df['TotalPurchaseAmount'].apply(lambda g: "Low" if g < 500 else "High")
print(df)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification
0           1      John     Smith   45                  403            Low
1           2     Steve   Johnson   28                  496            Low
2           3      Anna  Williams   53                  234            Low
3           4      Mike     Jones   44                  203            Low
4           5     Emily     Brown   58                  399            Low
5           6      Jake     Davis   59                  251            Low
6           7     Laura    Miller   41                  763           High
7           8      Nick    Wilson   48                  965           High
8           9    Olivia     Moore   40                  133            Low
9          10     David    Taylor   61                  308            Low

In [9]:
# 3
def is_gen(classification, Age):
    if classification == 'Low':
        if Age < 20:
            classification_by_age = 'Low_Young'
        else:
            classification_by_age = 'Low_Old'
    if classification == 'High':
        if Age < 20:
            classification_by_age = 'High_Young'
        else:
            classification_by_age = 'High_Old'
               
    return classification_by_age
    
df['classification_by_age'] = np.vectorize(is_gen)(df['classification'], df['Age'])
print(df)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification  \
0           1      John     Smith   45                  403            Low
1           2     Steve   Johnson   28                  496            Low
2           3      Anna  Williams   53                  234            Low
3           4      Mike     Jones   44                  203            Low
4           5     Emily     Brown   58                  399            Low
5           6      Jake     Davis   59                  251            Low
6           7     Laura    Miller   41                  763           High
7           8      Nick    Wilson   48                  965           High
8           9    Olivia     Moore   40                  133            Low
9          10     David    Taylor   61                  308            Low

  classification_by_age
0               Low_Old
1               Low_Old
2               Low_Old
3               Low_Old
4               Low_Old
5               Low_Old
6              High_Old
7              High_Old
8               Low_Old
9               Low_Old

In [11]:
# Exercise 2
# 2

sort_by_firstName = df.sort_values(['FirstName'])
print(sort_by_firstName)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification  \
2           3      Anna  Williams   53                  234            Low
9          10     David    Taylor   61                  308            Low
4           5     Emily     Brown   58                  399            Low
5           6      Jake     Davis   59                  251            Low
0           1      John     Smith   45                  403            Low
6           7     Laura    Miller   41                  763           High
3           4      Mike     Jones   44                  203            Low
7           8      Nick    Wilson   48                  965           High
8           9    Olivia     Moore   40                  133            Low
1           2     Steve   Johnson   28                  496            Low

  classification_by_age
2               Low_Old
9               Low_Old
4               Low_Old
5               Low_Old
0               Low_Old
6              High_Old
3               Low_Old
7              High_Old
8               Low_Old
1               Low_Old

In [13]:
# 3
sort_by_amount_and_age = df.sort_values(['TotalPurchaseAmount', 'Age'], ascending=[True, False])
print(sort_by_amount_and_age)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification  \
8           9    Olivia     Moore   40                  133            Low
3           4      Mike     Jones   44                  203            Low
2           3      Anna  Williams   53                  234            Low
5           6      Jake     Davis   59                  251            Low
9          10     David    Taylor   61                  308            Low
4           5     Emily     Brown   58                  399            Low
0           1      John     Smith   45                  403            Low
1           2     Steve   Johnson   28                  496            Low
6           7     Laura    Miller   41                  763           High
7           8      Nick    Wilson   48                  965           High

  classification_by_age
8               Low_Old
3               Low_Old
2               Low_Old
5               Low_Old
9               Low_Old
4               Low_Old
0               Low_Old
1               Low_Old
6              High_Old
7              High_Old

In [47]:
# Exercise 3
# 1

np.random.seed(100)
df = pd.DataFrame(np.random.randint(0,100,size=(20, 10)), columns=list('ABCDEFGHIJ'))
n_rows, n_cols = df.shape
row_idx = np.random.randint(0, n_rows)
col_idxs = np.random.choice(n_cols, size=n_cols//2, replace=False)
df.iloc[row_idx, col_idxs] = np.nan
n_nan_remaining = 15 - len(col_idxs)
row_idxs = np.random.randint(0, n_rows, size=n_nan_remaining)
col_idxs = np.random.randint(0, n_cols, size=n_nan_remaining)
df.iloc[row_idxs, col_idxs] = np.nan
print(df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1    NaN  66  98   NaN   NaN   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5    NaN  30  48   NaN   NaN   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74   NaN   NaN   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10   NaN  95  76   NaN   NaN   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68   NaN   NaN   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54   NaN   NaN   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16   NaN  66  16   NaN   NaN   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84   NaN   NaN   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93   NaN   NaN   NaN   NaN   NaN   NaN  37.0

In [17]:
# 3
df_no_na = df.dropna()
print(df_no_na)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0

In [19]:
# 4
df_fill_na_random = df.fillna(np.random.randint(0, 100))
print(df_fill_na_random)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1   80.0  66  98  80.0  80.0  80.0  80.0  80.0  80.0  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5   80.0  30  48  80.0  80.0  80.0  80.0  80.0  80.0  56.0
6   80.0  53  74  80.0  80.0  80.0  80.0  80.0  80.0  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10  80.0  95  76  80.0  80.0  80.0  80.0  80.0  80.0  98.0
11  80.0  53  68  80.0  80.0  80.0  80.0  80.0  80.0  48.0
12  80.0  25  54  80.0  80.0  80.0  80.0  80.0  80.0  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16  80.0  66  16  80.0  80.0  80.0  80.0  80.0  80.0  78.0
17  80.0  77  84  80.0  80.0  80.0  80.0  80.0  80.0  93.0
18  80.0  28  82  80.0  80.0  80.0  80.0  80.0  80.0  80.0
19  80.0  90  93  80.0  80.0  80.0  80.0  80.0  80.0  37.0

In [55]:
# 5
df_fill_na_mean =  df.fillna(df[['C', 'D']].mean())
print(df_fill_na_mean)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1    NaN  66  98  53.2   NaN   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5    NaN  30  48  53.2   NaN   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74  53.2   NaN   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10   NaN  95  76  53.2   NaN   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68  53.2   NaN   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54  53.2   NaN   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16   NaN  66  16  53.2   NaN   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84  53.2   NaN   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82  53.2   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93  53.2   NaN   NaN   NaN   NaN   NaN  37.0

In [83]:
# 6
columns_to_check = list(filter(lambda x: x!='D', df.columns))
df_filtered = df[columns_to_check].dropna(thresh=df.shape[0] - 1, axis=1)
df_filtered['D'] = df['D']
print(df_filtered)

     B   C     J     D
0   24  67  98.0  87.0
1   66  98  16.0   NaN
2   93  86  83.0   2.0
3   91  59  14.0  67.0
4   71  80  27.0   2.0
5   30  48  56.0   NaN
6   53  74  68.0   NaN
7   91  91  76.0  83.0
8   70   3  48.0  84.0
9   43  36  42.0   5.0
10  95  76  98.0   NaN
11  53  68  48.0   NaN
12  25  54  30.0   NaN
13  24  55  12.0  17.0
14  82  67  72.0  92.0
15  12  18  54.0  93.0
16  66  16  78.0   NaN
17  77  84  93.0   NaN
18  28  82   NaN   NaN
19  90  93  37.0   NaN